@{
    ViewBag.Title = "About";
}

<h2 style="padding-top:10px;">How to study effecient</h2>

<article>        
        <img src="~/Content/themes/base/images/1.jpg" style="width:400px;height:250px;margin-left:10px;" /> 
    <div class="section_text" >                 
                <ul style="margin-left:-25px;">
                    <li>Always have a planner. Write in all of your courses, activities, and social engagements. Looking over your planner will give you a better sense of how your week, month, or even semester will look like, and will help you see when you'll be having a really busy week, or when you'll have a lot of free time.</li>
                    <li>Whether you're studying for an exam or just studying to keep up with course materials, block out "study" time for a few hours of every week. Treat this blocked-out time as seriously as you would a real class. If your friend wants to hang out during that time, say that you're busy and will have to reschedule.</li>
                    <li>Try to study around the same time of day. Pick a time when your brain is most alert. Some people like to study course material right after the class is over while the material is fresh in their minds, while others need a break from the material to be able to study.</li>
                    <li>Don't plan to study the hour before an exam. Plug that into your schedule as "relaxing" time. If you've executed your game plan, you should be ready to go by then!</li>
                    <li>Create an agenda for all of your studying time. Make a detailed list of which chapters, concepts, or ideas you will be studying during each of the study sessions you have allocated for yourself. This list will become refined once you have a better sense of the course material.</li>
                    <li>Create an agenda for each session. Before you jump into a study session, create a detailed list of a few items that you will cover during each session. Check each one off when you've got it covered.</li>
                    <li>Don't forget to include being healthy in your game plan. You should still have enough time to catch at least 6-8 hours of sleep a night and to exercise for 30 minutes a day or 1 hour a few times a week, even in the middle of a grueling study period. Don't forget that if your mind and body aren't healthy, you won't perform as well on the exam. While you may be sleeping and exercising a bit less, don't cut out on these important things entirely.</li>
                </ul>
    </div>
</article>
<aside>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
        </ol>
    </div>
</aside>