@{
    ViewBag.Title = "Contact";
}

<h2 class="featurette-heading" style="padding-top:10px; margin-left:-5px;">Welcome to our contact page</h2>
<div style="height:400px;">
<br />
<p class="lead">
    We value your feedback and suggestions to make our university to be No.1.
</p>
<p class="lead">
    <ul>
        <li><h4>Email address: global&#64;uni.edu.au</h4></li>
        <li><h4>Phone:         008811000</h4></li>
        <li><h4>PO box:        Global on earth</h4></li>
        </ul>
</p>
</div>